<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    <context:component-scan base-package="com.jaxio.celerio.configuration"/>
    <context:property-placeholder location="classpath*:build.properties,classpath*:release.properties"/>

    <bean id="buildInfo" class="com.jaxio.celerio.configuration.BuildInfo">
        <property name="pomVersion" value="${pom.version}"/>
        <property name="pomName" value="${pom.name}"/>
        <property name="pomGroupId" value="${pom.groupId}"/>
        <property name="pomArtifactId" value="${pom.artifactId}	"/>
    </bean>

    <bean id="celerioMarshaller" class="org.springframework.oxm.jibx.JibxMarshaller">
        <property name="targetClass" value="com.jaxio.celerio.configuration.Celerio"/>
        <property name="indent" value="2"/>
    </bean>

    <bean id="dbMetadataMarshaller" class="org.springframework.oxm.jibx.JibxMarshaller">
        <property name="targetClass" value="com.jaxio.celerio.configuration.database.Metadata"/>
        <property name="indent" value="2"/>
    </bean>

    <bean id="eclipseProfilesMarshaller" class="org.springframework.oxm.jibx.JibxMarshaller">
        <property name="targetClass" value="com.jaxio.celerio.configuration.eclipse.Profiles"/>
        <property name="indent" value="2"/>
    </bean>
</beans>